 .review{
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: url("Free spice Photos & Pictures _ Page 8.jpeg");
      background-repeat: no-repeat;
      background-attachment: initial;
            background-size: 100% 100%;
    }
    form {
  
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(143, 219, 21);
  backdrop-filter: blur(10px); 
  text-align: center;
}


p {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
    label {
      display: block;
      margin-bottom: 8px;
      color: white;
      font-size: 15px;
      font-weight: bold;
    }
    label:hover {
  opacity: 0.8;
}

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      background-color:whitesmoke;
      border-style: none;
      color: #333;
      border-radius: 10px;
      font-family: 'Arial', sans-serif;
      font-weight: bolder;
      text-align: center;
      font-size: 20px;
    }

    button {
      background-color: #1a92c2;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      margin-top: 20px;
      width: 100%;
     justify-content: center;
     font-weight: bold;

    }

    button:hover {
      background-color: #b81913;
      transform: scale(1.05);
    }

    textarea {
 
  font-size: 16px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
  padding: 8x;
  width: 100%;
  text-align: center;
  background-color: #f7f7f7;
  font-size: 20px;
  font-weight: bold;
}

